/*
 *Name: Jordan Marsicano
 *UnityID: jemarsic
 *Date: 9/29/19
 *Assignment: E115 Webpages IA
 *Description: Independant Assignment for E115 Webpages Unit
 */
 
backround-color {
    color:#888888;
}

#photo-resize {
    width: 200px;
	hidth:250px;
	border:2px: color:#gggggg;
}

.table-border {
   border:2px solid #FFFFFF;
}
